<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Album Reviews System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-app="app">
    <div class="row" style="margin-top:20px; margin-bottom:20px; " ng-controller="searchArtist">
        <form name="searchForm">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="input-group">
                    <input type="text" class="form-control" name="artist" ng-model="artist" placeholder="Artist Name" autofocus required >
                    <span class="input-group-btn">
                        <a href="#search" class="btn btn-default" type="button" ng-click="submit($event)">Search</a>
                    </span>
                </div>
            </div>
        </form>
        <div class="pull-sm-right">
            <a href="login.html"  ng-show="showLogin">Login</a>
            <div class="text-muted"  ng-show="loginStatus">Welcome, {{ loggedUsername }}</div>
            <a href="#" ng-show="loginStatus" ng-click="logout($event)">Logout Now</a>
        </div>
        
        <div class="container" ng-show="loading">
            <h2>Loading...</h2>
        </div>
    </div>
    
    <div ng-view>
        <!-- Display Area -->
    </div>
</body>

</html>