<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Album Reviews System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>

<body ng-app="app">
    <div class="wrapper" ng-controller="loginController">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please Login</h2>
            <input type="text" class="form-control" name="username" ng-model="loginName" placeholder="Email Address" required autofocus />
            <input type="password" class="form-control" name="password" ng-model="loginPassword" placeholder="Password" required />
            <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="login()">Login</button>
            <a href="register.html" class="btn btn-lg btn-primary btn-block" type="submit">Register Now</a>
        </form>
    </div>
</body>
</html>