<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Album Reviews System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-app="app">
    <div class="container" ng-controller="registerController">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Register</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" name="registerForm">
    
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" ng-model="username" ng-minlength="8" placeholder="Username" placeholder="Enter your Username" required />
                            </div>
                            <span ng-show="registerForm.username.$touched && registerForm.username.$error.required">The username is required.</span>
                            <span ng-show="registerForm.username.$touched && registerForm.username.$error.minlength">The username must be greater than or equal to 8.</span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="8" placeholder="Enter your Password" required/>
                            </div>
                            <span ng-show="registerForm.password.$touched && registerForm.password.$error.required">The password is required.</span>
                            <span ng-show="registerForm.password.$touched && registerForm.password.$error.minlength">The password must be greater than or equal to 8.</span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirm" ng-model="confirm" ng-pattern="(password)" placeholder="Confirm your Password" required/>
                            </div>
                            <span ng-show="registerForm.confirm.$error.pattern">The re-password is not matched.</span>
                            <span ng-show="registerForm.confirm.$touched && registerForm.confirm.$error.required">The re-password is required.</span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter your Email" required />
                            </div>
                            <span ng-show="registerForm.email.$touched && registerForm.email.$invalid">The email is invalid.</span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg btn-block login-button"  ng-click="register()" ng-disabled="registerForm.username.$error.required || registerForm.password.$error.required || registerForm.confirm.$error.required || registerForm.email.$invalid">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>