<div class="container" ng-show="tracks">
    <a href="#search">Go back to Album</a>
    <h2>Track List</h2>
    <div class="table-responsive">          
        <table class="table">
        <thead>
        <tr>
            <th>Track Name</th>
            <th>Reference link from Youtube</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="track in tracks">
            <td>{{ track.name }}</td>
            <td>
                <a href="{{ track.link }}" target="_blank">Listen Now</a>
            </td>
        </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="container" ng-show="reviews">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Review</h3>
        </div>
    </div>
    
    <div class="col-sm-12 h-scroll" id="reviewsArea">
        <div class="row" ng-repeat="review in reviews">
            <div class="col-sm-12 reviewRow" data-reviewid="{{ review.reviewID }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong class="reviewRow-userName">{{ review.userName }}</strong>
                        <!--<span class="text-muted"></span>-->
                        <a class="close" ng-show="review.userName == loggedUsername" ng-click="deleteReview(review.reviewID)">&times;</a>
                    </div>
                    <div class="panel-body">
                        {{ review.review }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="loggedUserID">
    <form name="reviewCriteria">
        <div class="form-group">
            <label for="comment">Post Your Review:</label>
            <textarea class="form-control" rows="5" name="review" ng-model="review" required></textarea>
            <span class="input-group-addon btn btn-primary" ng-click="submitNewReview($event)" ng-disabled="reviewCriteria.review.$invalid">Send</span>
        </div>
    </form>
</div>

<div class="container" ng-show="loading">
    <h3>Loading...</h3>
</div>