<div class="row" ng-show="artist">
    <div class="thumbnail text-center">
        <img src="{{ artist.image }}" alt="" class="img-responsive">
        <div class="caption">
            <p>{{ artist.name }}</p>
        </div>
    </div>
</div>

<div class="row" ng-show="albums">
   <h2 class="col-sm-12">Album List</h2>
   <div class ="col-sm-6 col-md-2" ng-repeat="album in albums">
      <a href ="#albumDetail/{{ album.mbid }}" class = "thumbnail">
         <img src = "{{ album.image }}" alt = "{{ album.name }}">
      </a>
      <div class = "caption">
         <h3>{{ album.name }}</h3>
      </div>
   </div>
   
</div>